<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(143, 60, 221);">
    <a class="navbar-brand" [routerLink]="['./ourServices']" routerLinkActive="router-link-active" >About</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['./Transfer Money']" routerLinkActive="router-link-active" >Transfer Money<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./getloan']" routerLinkActive="router-link-active" >Get loan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./my-transaction']" routerLinkActive="router-link-active" >My trasaction</a>
        </li>

        <!-- <li><form action="/logout" method="post">
          <button type="submit" class="btn btn-primary me-md-2" (click)="logout()" style="float: right;">Log out</button>
        </form></li> -->

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <!-- <button class="btn btn-primary me-md-2" type="button">Button</button> -->
          <button class="btn btn-primary" type="submit" (click)="logout()">Log out</button>
        </div>


        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
    </div>
  </nav>
